{% extends "userapp/base.html" %}
{% load static %}



{% block body_block%}
    <h2>Reset Your Password</h2>
    {% if validlink %}
    <div id="form1">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success" type="submit">Change my password</button>
        </form>
    </div>
    {% else %}
    <div id="form1">
        <p>"The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    
    </div>    {% endif %}
{% endblock %}